<title>Strip Controller</title>
<script>
  if (document.getElementById("pattern").value in ["stars","bounce","chase"]) {
    document.getElementById("front_tail").style.display = "block";
    document.getElementById("rear_tail").style.display = "block";
  } else {
    document.getElementById("front_tail").style.display = "none";
    document.getElementById("rear_tail").style.display = "none";
  }
</script>
<body>
  <form action="/run" method="post">
    <label for="pattern">Pattern: </label>
    <select name="pattern" id="pattern">
      <option value ="{{pattern}}">{{pattern}}</option>
        {{ patterns|safe }}
    </select><br>
    <label for="color">Color: </label>
    <input type="color" name="color" value="#{{color}}"><br>
    <label for="front_tail">leading trail length</label><br>
    <input type="range" max={{numpixels|safe}} min=0 name="front_tail" value="{{ft}}"><br>
    <label for="rear_tail">trailing trail length</label><br>
    <input type="range" max={{numpixels|safe}} min=0 name="rear_tail" value="{{rt}}"><br>
    <input type="submit" value="Submit">
</form>
<br>
</body>